body{
    background-color:blue;
    font-family: Arial,sans-serif;    
    }
    p{
    color:azure;
    font: size 19px; 
    }
    .titulo-principal {
    color:brown;
    text-decoration:center;
    }
    .destacado {
    color:beige;
    text-align:center;    
    }
    imag{
    width:300px;
    height:300px; 
    border: 5px solid white;    
    }
    .titulo-principal {
    color:aliceblue;
    text-align:center;
    }
    .destacado{
    color:aquamarine;
    font-weight:bolder;    
    }
    img{
    width:300px; 
    height:300px;
    border:5px solid white;    
    }
    .contenido {
    display:flex;
    flex-direction:row;
    gap:20px;
    justify-content: space-around; 
    }